<div>
    <h1>addition</h1>
    <br>

    <label for="number1">number1</label>
    <input type="number" name="number1" id="number1" placeholder="insert number one...">
    <label for="number2">number2</label>
    <input type="number" name="number2" id="number2" placeholder="insert number two...">
    <button onclick="">add</button>
    <br>
    <br>
    <table style="width:100%" border="1">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
</div>